@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 36% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 211 36% 96%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 211 36% 96%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 217 53% 41%;
    --primary-foreground: 210 20% 98%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 90%;
    --muted-foreground: 224 71.4% 25%;
    --accent: 261 36% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32.6% 77.5%;
    --input: 217 32.6% 82.5%;
    --ring: 217 53% 41%;
    --chart-1: 217 53% 41%;
    --chart-2: 261 36% 57%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 211 36% 96%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 217 53% 41%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217 53% 41%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 217 32.6% 77.5%;
    --sidebar-ring: 217 53% 41%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 53% 51%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32.6% 17.5%;
    --muted-foreground: 210 40% 60%;
    --accent: 261 36% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 32.6% 27.5%;
    --input: 217 32.6% 27.5%;
    --ring: 217 53% 51%;
    --chart-1: 217 53% 51%;
    --chart-2: 261 36% 67%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 217 53% 51%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217 53% 51%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 217 32.6% 27.5%;
    --sidebar-ring: 217 53% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
